::-webkit-scrollbar {
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#trip_entry_form {
    padding: 20px;
}

#trip_entry_form .title {
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 600;
    border-bottom: 1px solid #232323;
}

#trip_entry_form input {
    width: 95%;
    height: 20px;
}

#trip_entry_form .table-container {
    margin-top: 20px;
    padding: 20px;
}

#trip_entry_form table {
    width: 100%;
}

#trip_entry_form .destination {
    border: 1px solid black;
}

#trip_entry_form .table, th, td {
    border: 1px solid #fff;
    text-align: center;
    font-weight: 600;
    max-width: 65px
}

#trip_entry_form .big-cell {
    min-width: 108px;
}

#trip_entry_form select {
    font-weight: 600;
}

#trip_entry_form .yellow-background {
    background-color: rgb(226, 158, 75);
}

#trip_entry_form .fleet-btn {
    font-size: 12px;
    background-color: transparent;
    font-weight: 600;
    border: 1px solid #fff;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#trip_entry_form .in-header {
    background-color: rgb(235, 185, 138);
    border: 1px solid #fff;
}

#trip_entry_form .no-cell {
    border: none;
    background: #fff;
}

#trip_entry_form .total {
    background-color: rgb(120, 182, 236);
}